

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

button:hover{
  color: #FED766;
  font-weight: bold;
}

.addTransiton{
  transform: translateX(400px);
  transition: transform 1s ease-in-out;

  
} 
.removeTransition{
  transform: translateX(0px);
  transition: transform 1s ease-in-out;
 
  
}
