
@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/AeonikTRIAL-Regular.otf') format('woff2'),
      
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}






.addTransiton{
  transform: translateX(400px);
  transition: transform 1s ease-in-out;

  
} 
.removeTransition{
  transform: translateX(0px);
  transition: transform 1s ease-in-out;
 
  
}

.heading-animation {
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeIn;
  animation-duration: 0.5s; 
}
.heading-animation-down {
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeInDown;
  animation-duration: 0.5s; 


}

.heading-animation-two{
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeIn;
  animation-duration: 1s; 



}
.heading-animation-two-down{
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeInDown;
  animation-duration: 1s; 

}
.heading-animation-three{
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeIn;
  animation-duration: 1.5s; 

}
.heading-animation-three-down{
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeInDown;
  animation-duration: 1.5s; 

}

.heading-animation-four{
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeIn;
  animation-duration: 2s; 

}
.heading-animation-four-down{
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeInDown;
  animation-duration: 2s; 

}

.heading-animation-five{
  display: inline-block;
  
  animation:fadeIn;
  animation-duration: 2.5s; 

}
.heading-animation-five-down{
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeInDown;
  animation-duration: 2.5s; 

}


.heading-animation-six{
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeIn;
  animation-duration: 3s; 

}

.heading-animation-six-down{
  display: inline-block;
  margin: 0 0.5rem;
  animation:fadeInDown;
  animation-duration: 3s; 

}


 


 






